.embla {
  --slide-spacing: 0.5rem; /* gap-2 */
  --slide-size: 270px;
  --slide-height: auto;
  position: relative;
  width: 100%;
  overflow: visible;
}

@media (min-width: 1024px) {
  .embla {
    --slide-spacing: 1rem; /* gap-4 */
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  min-width: 0;
  flex: 0 0 calc(100% / 4);
  min-width: 270px;
  max-width: 540px;
  padding-left: var(--slide-spacing);
}

.embla__slide img {
  width: 100%;
  height: auto;
  display: block;
}

.embla__controls {
  margin-top: 1rem;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: white !important;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 2.8rem;
  height: 2.8rem;
  z-index: 1000;
  border-radius: 50%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

.embla__button:hover {
  opacity: 1;
}

.embla__button--prev {
  left: 0.25rem;
}

.embla__button--next {
  right: 0.25rem;
}

.embla__button:disabled {
  opacity: 0.25;
  pointer-events: none;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem #dfdfdf;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #333;
  background-color: #333;
}
